body {
  background-color: #292a2e;
  color: #ffffff; }
 
 .no-redirect {
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px; }

.info .countdown {
  color: #ffffff;
  font-family: font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px; }
